.Palette {
  height: 100vh;
  .slider {
    width: 340px;
    margin: 0 10px;
    display: inline-block;
  }
  .rc-slider-track {
    background-color: transparent;
  }

  .rc-slider-rail {
    height: 8px;
  }

  .rc-slider-handle {
    background-color: green;
  }
}

.Palette-colors {
  height: 90%;
}
